:root {
  --black: #000;
  --projects-bg: #45567d;
  --light-grey: #303841;
  --red: #be3144;
  --white: #f0f0f0;
  --typewriterSpeed: 6s;
  --typewriterCharacters: 24;
}

#welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: var(--white);
}

#welcome-section > p {
  font-size: 1.5rem;
  font-weight: 100;
  font-style: italic;
  color: var(--red);
}

#projects {
  text-align: center;
  padding: 2.5rem 1rem;
  background: var(--projects-bg);
}

.projects-section-header {
  max-width: 640px;
  margin: 0 auto 6rem auto;
  border-bottom: 0.2rem solid var(--white);
}

@media (max-width: 30.625em)
.projects-grid {
  grid-template-columns: 1fr;
}

.projects-section-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 4rem;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 3rem;
}

.project-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  margin-bottom: -10px;
}

.project-title {
  position: inline-block;
  width: auto;
  font-size: 1.5rem;
  font-family: Monospace;
  background: var(--light-grey);
  box-shadow: 1px 1px 2px rgb(0 0 0 / 50%);
  border-radius: 2px;
  padding: 15px 0px 15px 0px;
  text-indent: 0.5em;
  font-size: 18px;
  text-overflow: ellipsis;
  overflow-x: hidden;
  white-space: nowrap;
}

.code {
  color: var(--light-grey);
  transition: color 0.3s ease-out;
  font-family: Monospace;
}

.project-tile {
  position: relative;
  height: calc(100% - 4.8rem);
  width: 100%;
  border-radius: 10px;
}

.project-tile:hover .code {
  color: orange;
}

.btn-show-all {
  font-size: 1.2rem;
  font-family: Monospace;
  background: #303841;
  transition: background 0.3s cubic-bezier(0.68, -0.4, 0.65, 0.92);
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 2px;
}

.btn-show-all:hover {
  background: #be3144;
}

h1 {
  font-family: monospace;
  color: var(--black);
  font-size: 3rem;
  position: relative;
}

h1::before,
h1::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

h1::before {
  background: var(--white);
  animation:
    typewriter var(--typewriterSpeed) steps(var(--typewriterCharacters)) 1s forwards;
}

h1::after {
  width: 0.125em;
  background: var(--black);
  animation:
    typewriter var(--typewriterSpeed) steps(var(--typewriterCharacters)) 1s forwards,
    blink 800ms steps(24) infinite;
}

#subtitle {
  padding-top: 15px;
  opacity: 0;
  transform: translateY(3rem);
  animation: fadeInUp 2s ease calc(var(--typewriterSpeed) + 2s) forwards;
}

@keyframes typewriter {
  to {
    left: 100%;
   }
}

@keyframes blink {
  to {
    background: transparent;
  }
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 28.75em)
.nav {
  justify-content: center;
}

ul {
  list-style: none;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--white);
  transition: color 0.3s ease-out;
}

nav a {
  display: block;
  font-size: 1.5rem;
  padding: 1rem;
}

nav a:hover {
  background-color: var(--projects-bg)
}

nav {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--red);
  box-shadow: 0 2px 0 rgb(0 0 0 / 40%);
  z-index: 10;
}


nav > ul {
  display: flex;
  flex-direction: row;
  padding-right: 20px;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.4;
  color: var(--white);
}
